.jumbo-wrapper {
  position: relative;
}

.jumbo-wrapper:hover {
  cursor: pointer;
}

.jumbo-pictures {
  overflow: hidden;
}

.jumbo-pictures img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 5px 5px 18px #888888;
  transition: transform .5s;
}

.jumbo-pictures img:hover {
  transform: scale(1.1);
}

.jumbo-category {
  position: absolute;
  line-height: 0%;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 12pt;
  background-color: red;
  color: white;
  top: 63%;
  left: 0;
  padding: 0 1%;
}

.jumbo-title {
  position: absolute;
  line-height: 0%;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
  background-color: white;
  top: 70%;
  left: 0;
  padding: 0 1%;
}
