.wrapper {
  max-width: 950px;
  margin: 3% auto;
  position: relative;
}

.jumbo-pictures img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 5px 10px 18px #888888;
}

.jumbo-category {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  background-color: red;
  color: white;
  top: 60%;
  left: 0;
  width: auto;
  height: auto;
  padding: 0 20px;
}

.jumbo-title {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  background-color: white;
  top: 70%;
  left: 0;
  width: auto;
  height: auto;
  padding: 0 20px;
}
