<div class="header sticky-header">
  <div class="logo">
    <h3>THRILLIST</h3>
  </div>
  <div class="header-left">
    <ul>
      <li>FOOD & DRINK</li>
      <li>TRAVEL</li>
      <li>ENTERTAINMENT</li>
      <li id="sections">ALL SECTIONS<i class="fas fa-angle-down"></i>
        <div class="dropdown">
          <h2>All Sections</h2>
        </div>
      </li>
      <li>CITIES<i class="fas fa-angle-down"></i></li>
      <li>VIDEO<i class="fas fa-angle-down"></i></li>
    </ul>
  </div>
  <div class="header-right">
    <ul>
      <i class="fas fa-search"></i>
      <i class="far fa-compass"></i>
      <i class="fas fa-envelope"></i>
    </ul>
  </div>
</div>
