.header {
  display: flex;
  line-height: 0%;
  align-items: center;
  border-bottom: solid 3px red;
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header:hover {
  cursor: pointer;
}

.logo {
  background-color: red;
  color: white;
  font-family: 'Oswald', sans-serif;
  padding: 0 25px;
  font-size: 24px;
}

.header-left li {
  list-style: none;
  display: inline;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding-right: 10px;
  font-weight: 700;
}

.header-left  i {
  margin-left: 5px;
}

.header-right {
  margin-left: auto;
  margin-right: 50px;
}

.header-right i {
  list-style: none;
  display: inline;
  padding-right: 10px;
  color: red;
}
