.footer {
  background-color: #F0F0F0;
  text-align: center;
  padding: 15px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: grey;
}

.footer:hover {
  cursor: pointer;
}

.links li {
  list-style: none;
  display: inline;
  padding: 0 5px;
}

.logo img {
  width: 200px;
  height: 49.24px;
  padding: 15px 0;
}
