.article-wrapper {
  width: 170px;
  height: auto;
  margin: 50px 14px;
  display: inline-block;
  background-color: white;
  box-shadow: 5px 10px 18px #888888;
}

.article-wrapper:hover {
  cursor: pointer;
}

.featured-pictures{
  overflow: hidden;
}

.featured-pictures img {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform .5s;
}

.featured-pictures img:hover {
  opacity: .7;
  cursor: pointer;
  transform: scale(1.1);
  overflow: hidden;
}

.featured-category {
  background-color: #2E4B88;
  line-height: 0%;
  display:inline-block;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 8pt;
  font-weight: 700;
  padding: 0 2%;
}

.featured-title {
  font-family: 'Lato', sans-serif;
}
