.wrapper {
  max-width: 950px;
  margin: 3% auto;
}

.article-wrapper {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
  margin-right: 20px;
}

.featured-pictures img {
  max-width: 100%;
  max-height: 100%;
}
