.movie-wrapper {
  width: 100%;
  height: auto;
  margin: 50px 14px;
  display: inline-block;
  background-color: white;
  box-shadow: 5px 10px 18px #888888;
}

.featured-movies iframe {
  position: relative;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured-category {
  background-color: red;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.featured-title {
  font-family: 'Lato', sans-serif;
}
